# Bağımlılıklar
node_modules/
.cache/
dist/
build/

# Ortam değişkenleri
.env
.env.local
.env.development
.env.production

# IDE özel dosyalar
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistem dosyaları
.DS_Store
Thumbs.db
büyük-dosya
